name: Deploy Fake
on:
    repository_dispatch:
        types:
            - deploy-remoto
jobs:
    deploy-kubernetes:
        runs-on: ubuntu-latest
        steps:
            - name: Deploy no ambiente
              run: echo "Executando o deploy no ambiente de ${{github.event.client_payload.ambiente}}"
            - name: Curl Deploy no Ambiente
              run: "curl -X POST https://webhook.site/d5ac71ff-32e8-4d86-a196-3535df604dc4 -d '{github.event.client_payload.ambiente}'"
